<%= simple_form_for @leave,:as => :leave, :url => 'createleave', :html => { :class => 'form-horizontal' } do |f| %>
<%= f.input :start %>
<%= f.input :end %>
<%= f.input :reason %>
<%= f.input :levaddress %>
<%= f.input :phone %>
<%= f.input :consent %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                checks_path, :class => 'btn' %>
  </div>
<% end %>
