<div class="mainOut">
  <div class="HeadLeft grey">
    <h3 style="margin:0 0 5px 0;"> Certificates </h3>
    	Please select the certificate type
   </div>
  <div class="leaveButCon">   
    <a href="/bonafides">
      <div class="radioButCon">
        <h3>
          Bonafide <span class="thin">Certificate</span>
        </h3>
      </div>
    </a>
    
  </div>          
</div>