<div class="mainOut">
  <div class="HeadLeft grey">
    <h3>Transaction  <span class="thin">Details</span></h3>
  </div>    
  <table class="tableMain tableExpenses">
  <tr>
    <th class="rightTD HeadLeft">Category</th>
    <th class="leftTD HeadLeft">Amount</th>
    <th class="leftTD HeadLeft">Transaction type</th>
    <th class="leftTD HeadLeft"> Date</th>
  </tr>
  <% @expenses.each do |expense| %>
    <tr>
      <% if (expense.account=="credit") %>
        <td class="rightTD HeadLeft credit"><%= expense.reason %></td>
        <td class="leftTD HeadLeft credit"><%= expense.amount %></td>
        <td class="leftTD HeadLeft credit"><%= expense.account %></td>
        <td class="leftTD HeadLeft credit"><%= expense.date %></td>
      <% else %>
        <td class="rightTD HeadLeft debit"><%= expense.reason %></td>
        <td class="leftTD HeadLeft debit"><%= expense.amount %></td>
        <td class="leftTD HeadLeft debit"><%= expense.account %></td>
        <td class="leftTD HeadLeft debit"><%= expense.date %></td>
      <% end %>
    </tr>
  <% end %>
  <tr>
 <% if (@total < 0) %>
    <td class="rightTD HeadLeft debit"><b>Total Amount Due</b></td>
    <td class="leftTD HeadLeft debit"><b><%= @total*(-1) %></b></td>
    <td class="leftTD HeadLeft debit"></td>
    <td class="leftTD HeadLeft debit"></td>
<% else %>
    <td class="rightTD HeadLeft credit"><b>Total Amount Surplus</b></td>
    <td class="leftTD HeadLeft credit"><b><%= @total %></b></td>
    <td class="leftTD HeadLeft credit"></td>
    <td class="leftTD HeadLeft credit"></td>       

<% end %>
  </table>          
  </div>