        <div class="mainOut">
          <div class="HeadLeft grey">
            <h3>Student <span class="thin">Leave</span></h3>
          </div>
          <div class="leaveButCon">
            
            <a href="/student/leaveform">
              <div class="radioButCon">
                <h3>
                  Leave <span class="thin"> Form</span>
                </h3>
              </div>
            </a>
            <a href="/student/leavestatus">
              <div class="radioButCon">
                <h3>
                  Leave <span class="thin">Status</span>
                </h3>
              </div>
            </a>
          </div>
        </div>