<div class="mainOut">
  <div class="HeadLeft grey">
    <h3>Leave <span class="thin">Status</span></h3>
  </div>   
  <table class="tableMain tableLeaveStat">
    <tr>
      <th class="leftTD HeadLeft">Leave ID</th>
      <th class="secCol">Start Date</th>
      <th class="thiCol">End Date</th>
      <th class="rightTD HeadLeft ">Leave Approved</th>
    <tr>
    <% @leaves.each do |leave| %>
    <tr>
        <td class="leftTD HeadLeft"><%= leave.id %></td>
        <td class="secCol HeadLeft"><%= leave.start.to_s[0,10] %></td>
        <td class="thiCol HeadLeft"><%= leave.end.to_s[0,10] %></td>
        <% if (leave.approved==true) %>
          <td class="rightTD HeadLeft ">Yes</td>
        <% elsif (leave.approved==false) %>
          <td class="rightTD HeadLeft ">Disapproved</td>
        <% else %>
          <td class="rightTD HeadLeft ">Pending</td>
        <% end %>
    </tr>
    <% end %>
  </table>  
    <div class="butCon">
       <a class="rightBut grey" href="/student/leave">Go Back</a>     
    </div>        
  
</div>
