<div class="mainOut">
          <div class="HeadLeft grey">
            <h3>
              Student <span class="thin"> Details</span>
            </h3>
          </div>
          <table class="tableMain">
            <tr>
              <td class="leftTD HeadLeft">Name</td>
              <td class="rightTD HeadLeft "><%= @profile.name %></td>
            </tr>
            <tr>
              <td class="leftTD HeadLeft">Student ID</td>
              <td class="rightTD HeadLeft "><%= @profile.college_id %></td>
            </tr>
            <tr>
              <td class="leftTD HeadLeft">Hostel</td>
              <td class="rightTD HeadLeft "><%= @profile.hostel %></td>
            </tr>
            <tr>
              <td class="leftTD HeadLeft">Room No.</td>
              <td class="rightTD HeadLeft "><%= @profile.room %></td>
            </tr>
            <tr>
              <td class="leftTD HeadLeft">CGPA</td>
              <td class="rightTD HeadLeft "><%= @profile.cgpa %></td>
            </tr>
            <tr>
              <td class="leftTD HeadLeft">Address</td>
              <td class="rightTD HeadLeft ">
                <%= @profile.address.house%>, <%= @profile.address.premise%><br>
                <%= @profile.address.area %>, <%= @profile.address.town %><br> 
                <%= @profile.address.state %>, <%= @profile.address.pin %><br>
              </td>
            </tr>
          </table>
    <% if @profile.insurance.present? %>
            <div class="HeadLeft grey">
            <h3>
              Insurance <span class="thin"> Details</span>
            </h3>
          </div>
          <table class="tableMain">
            <tr>
              <td class="leftTD HeadLeft">Policy No</td>
              <td class="rightTD HeadLeft "><%= @profile.insurance.policyno %></td>
            </tr>
            <tr>
              <td class="leftTD HeadLeft">Start Date</td>
              <td class="rightTD HeadLeft "><%= @profile.insurance.sdate %></td>
            </tr>
            <tr>
              <td class="leftTD HeadLeft">End Date</td>
              <td class="rightTD HeadLeft "><%= @profile.insurance.edate %></td>
            </tr>
            <tr>
              <td class="leftTD HeadLeft">Amount</td>
              <td class="rightTD HeadLeft "><%= @profile.insurance.amount %></td>
            </tr>
            <tr>
              <td class="leftTD HeadLeft">Password</td>
              <td class="rightTD HeadLeft "><%= @profile.insurance.password %></td>
            </tr>
             </tr>
          </table>
    <% end %>
</div>