<div class="mainOut">
          <div class="HeadLeft grey">
            <h3>
              Student <span class="thin"> Search</span>
            </h3>
          </div>
          
          <table class="tableMain tableDetails">
            <tr>
              <td class="leftTD HeadLeft">Name</td>
              <td class="rightTD HeadLeft "><input></td>
            </tr>
            <tr>
              <td class="leftTD HeadLeft">ID No.</td>
              <td class="rightTD HeadLeft "><input></td>
            </tr>
            <tr>
              <td class="leftTD HeadLeft">Hostel</td>
              <td class="rightTD HeadLeft ">
                <select>
                  <option value="">ANY</option>
                  <option value="ah1">AH1</option>
                  <option value="ah2">AH2</option>
                  <option value="ah3">AH3</option>
                  <option value="ah4">AH4</option>
                  <option value="ah5">AH5</option>
                  <option value="ah6">AH6</option>
                  <option value="ah7">AH7</option>
                  <option value="ah8">AH8</option>
                  <option value="ch1">CH1</option>
                  <option value="ch2">CH2</option>
                  <option value="ch3">CH3</option>
                  <option value="ch4">CH4</option>
                  <option value="ch5">CH5</option>
                  <option value="ch6">CH6</option>
                </select>
              </td>
            </tr>
            <tr>
              <td class="leftTD HeadLeft">Room No.</td>
              <td class="rightTD HeadLeft "><input></td>
            </tr>
            <tr>
              <td class="leftTD HeadLeft">Branch</td>
              <td class="rightTD HeadLeft ">
                <select class="branchSel">
                  <option value="">ANY</option>
                  <option value="C6">Information Systems</option>
                  <option value="A1">Chemical</option>
                  <option value="A7">Computer Science</option>
                  <option value="A4">Mechanical</option>
                  <option value="A8">EEE</option>
                  <option value="A3">ENI</option>
                  <option value="B1">MSc Bio</option>
                  <option value="B2">MSc Chemistry</option>
                  <option value="B3">MSc Economics</option>
                  <option value="B4">MSc Physics</option>
                  <option value="B5">MSc Maths</option>
                  <option value="HD">Higher Degree</option>
                </select>
              </td>
            </tr>
          </table>  
          
          <div class="butCon">
            <a class="rightBut grey" href="#">SUBMIT</a>
          </div>         
        </div>