<%= simple_form_for @announcement, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :title, input_html: { class: 'input-block-level' } %>
  <%= f.input :body,  input_html: { class: 'input-block-level wysihtml5' }%>
  <%= f.input :posted_by %>
  <%= f.input :is_visible, input_html:{ checked: "checked"} %>
  <%= f.input :is_archived %>
  <%= f.input :is_important %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                announcements_path, :class => 'btn' %>
  </div>
<% end %>
