<%- model_class = Announcement -%>
<div class="page-header">
  <h1>Notice</h1>
</div> 

<%= link_to t('.new', :default => "Create New Notice"),
            new_announcement_path,
            :class => 'btn btn-large btn-success' %>
<h3>Visible Notices</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Posted By</th>
      <th>Created At</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @announcements.each do |announcement| %>
      <% if announcement.is_visible==true && announcement.is_archived==false %>
      <tr>
        <td><%= link_to announcement.id, announcement_path(announcement) %></td>
        <td><%= announcement.title %></td>
        <td><%= announcement.posted_by %></td>
        <td><%= announcement.created_at.to_formatted_s(:long) %></td>
        <td>
          <% if announcement.is_important==false %>
          <%= link_to "Important",{:controller => :announcements, :action=> :important,  :id =>announcement.id} ,:class=> 'btn btn-mini btn-warning' %> 
          <% else %>
          <%= link_to "Not Important",{:controller => :announcements, :action=> :notimportant,  :id =>announcement.id} ,:class=> 'btn btn-mini btn-danger' %> 
          <% end %>
          <%= link_to "Invisible",{:controller => :announcements, :action=> :invisible,  :id =>announcement.id} ,:class=> 'btn btn-mini btn-inverse' %> 
          <%= link_to "Archive",{:controller => :announcements, :action=> :archive,  :id =>announcement.id} ,:class=> 'btn btn-mini btn-success' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_announcement_path(announcement), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      announcement_path(announcement),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
         
          
        </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<!--Invisble Notices-->
<h3>Invisible Notices</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Posted By</th>
      <th>Created At</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @announcements.each do |announcement| %>
<% if announcement.is_visible==false && announcement.is_archived==false%>
      <tr>
        <td><%= link_to announcement.id, announcement_path(announcement) %></td>
        <td><%= announcement.title %></td>
        <td><%= announcement.posted_by %></td>
        <td><%= announcement.created_at.to_formatted_s(:long) %></td>
        <td>
          <%= link_to "Visible",{:controller => :announcements, :action=> :visible,  :id =>announcement.id} ,:class=> 'btn btn-mini btn-primary' %> 
          <%= link_to "Archive",{:controller => :announcements, :action=> :archive,  :id =>announcement.id} ,:class=> 'btn btn-mini btn-success' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_announcement_path(announcement), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      announcement_path(announcement),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<!--Archieved Notices-->

<h3>Archived Notices</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Posted By</th>
      <th>Created At</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @announcements.each do |announcement| %>
      <% if announcement.is_archived==true%>
      <tr>
        <td><%= link_to announcement.id, announcement_path(announcement) %></td>
        <td><%= announcement.title %></td>
        <td><%= announcement.posted_by %></td>
        <td><%= announcement.created_at.to_formatted_s(:long) %></td>
        <td>
          <%= link_to "Invisible",{:controller => :announcements, :action=> :invisible,  :id =>announcement.id} ,:class=> 'btn btn-mini btn-inverse' %>
          <%= link_to "UnArchive",{:controller => :announcements, :action=> :unarchive,  :id =>announcement.id} ,:class=> 'btn btn-mini btn-success' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_announcement_path(announcement), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      announcement_path(announcement),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

