<%- model_class = Announcement -%>
<div class="page-header">
  <h1>New Notice</h1>
</div>
<%= render :partial => 'form' %>
<%= render :partial => 'form' %>
<% content_for :bottom do %>
<script type="text/javascript">
  $('.wysihtml5').each(function(i, elem) {
    $(elem).wysihtml5();
  });
  $('.dropdown').hide();
</script>
<% end %>
