<%- model_class = Announcement -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @announcement.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:body) %>:</strong></dt>
  <dd><%= @announcement.body %></dd>
  <dt><strong><%= model_class.human_attribute_name(:posted_by) %>:</strong></dt>
  <dd><%= @announcement.posted_by %></dd>
  <dt><strong><%= model_class.human_attribute_name(:is_visible) %>:</strong></dt>
  <dd><%= @announcement.is_visible %></dd>
  <dt><strong><%= model_class.human_attribute_name(:is_archived) %>:</strong></dt>
  <dd><%= @announcement.is_archived %></dd>
  <dt><strong><%= model_class.human_attribute_name(:is_important) %>:</strong></dt>
  <dd><%= @announcement.is_important %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              announcements_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_announcement_path(@announcement), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              announcement_path(@announcement),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
  <% if @announcement.is_important==false %>
    <%= link_to "Important",{:controller => :announcements, :action=> :important,  :id =>@announcement.id} ,:class=> 'btn btn btn-warning' %> 
    <% else %>
  <%= link_to "Not Important",{:controller => :announcements, :action=> :notimportant,  :id =>@announcement.id} ,:class=> 'btn btn btn-danger' %> 
  <% end %>
    <% if @announcement.is_visible==false %>
    <%= link_to "Visible",{:controller => :announcements,:action=>        :visible,  :id =>@announcement.id} ,:class=> 'btn btn btn-warning' %> 
    <% else %>
  <%= link_to "Invisible",{:controller => :announcements, :action=> :invisible,  :id =>@announcement.id} ,:class=> 'btn btn btn-inverse' %> 
  <% end %>
      <% if @announcement.is_archived==false %>
    <%= link_to "Archive",{:controller => :announcements,:action=>        :archive,  :id =>@announcement.id} ,:class=> 'btn btn btn-success' %> 
    <% else %>
  <%= link_to "Unarchive",{:controller => :announcements, :action=> :unarchive,  :id =>@announcement.id} ,:class=> 'btn btn btn-danger' %> 
  <% end %>
</div>
