<%= simple_form_for @navigation, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :link %>
  <%= f.input :label %>
  <%= f.input :role, collection: [ "general", "student", "admin","staff",   "bitswarden"] %>
  <%= f.input :position %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                navigations_path, :class => 'btn' %>
  </div>
<% end %>
