<div class="btn-group" style="float:right">
<% roles = ['General', 'Student', 'Admin', 'Staff', 'Bitswarden'] %>
<% roles.each do |role|%>
<% if (role==@role) %>
<%= link_to role,{:controller =>controller_name, :action=>action_name,  :query =>role},:class =>"btn btn-inverse" %>
<% else %>
<%= link_to role,{:controller =>controller_name, :action=>action_name,  :query =>role},:class =>"btn" %>
<% end %>
<% end %>
</div>