<%- model_class = Navigation -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<%= link_to t('.new', :default => t("Create New Navigation")),
            new_navigation_path,
            :class => 'btn btn-large btn-success' %>
<%= render :partial => 'nav' %>

<h4>Role :<%= @role.slice(0,1).capitalize + @role.slice(1..-1) %></h4>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:link) %></th>
      <th><%= model_class.human_attribute_name(:label) %></th>
      <th><%= model_class.human_attribute_name(:role) %></th>
      <th><%= model_class.human_attribute_name(:position) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
<% @navigations.each do |navigation| %>
      <tr>
        <td><%= link_to navigation.id, navigation_path(navigation) %></td>
        <td><%= navigation.link %></td>
        <td><%= navigation.label %></td>
        <td><%= navigation.role %></td>
        <td><%= navigation.position %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_navigation_path(navigation), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      navigation_path(navigation),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
