<div class="page-header">
  <h1>Pending Leaves</h1>
</div>
<% if @leavelist.blank? %>
<h3>Hurrah!! There is no pending leave</h3>
<% else %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Leave Id</th>
      <th>Name</th>
      <th>Id</th>
      <th>Hostel</th>
      <th>Room</th>
      <th>Leave Start</th>
      <th>Leave  End</th>
      <th>Reason </th>
      <th>Consent Type </th>
      <th>Approve/Disapprove</th>
    </tr>
  </thead>
   <tbody>
   	<% @leavelist.each do |list| %>
      	<tr>
        	<td><%= list.id %></td>
        	<td><%= list.student.name %></td>
        	<td><%= list.student.college_id%></td>
        	<td><%= list.student.hostel %></td>
        	<td><%= list.student.room %></td>
        	<td><%= list.start %></td>
        	<td><%= list.end %></td>
        	<td><%= list.reason %></td>
        	<td><%= list.consent %></td>
        	<td>
        		<%= link_to "Approve",{:controller => :bitswarden, :action=> :approve,  :query =>list.id} ,:class=> 'btn btn-mini btn-success' %>
        		<%= link_to "Disapprove",{:controller => :bitswarden, 
        			:action=>:disapprove,  :query =>list.id} ,
        			:class=> 'btn btn-mini btn-danger' %>
       		</td>
       	</tr>
    <% end %>
  </tbody>
</table>
<% end %> 