<div class="page-header">
  <h1>Mess Options</h1>
</div>

<%= link_to "Start Mess Option Selection Process",
{:controller => :staff, :action=> :startmessoption} ,
:class=> 'btn btn-large btn-success' %>
