<div class="mainOut">
          <div class="Head purple">
            <h3>General Notices</h3>
          </div>
          <div class="noticeCon">
            <ul>
           <% @announcements.each do |announcement| %>
           <% if announcement.is_visible==true && announcement.is_archived==false %>
              <a href="/general/shownotice?id=<%= announcement.id %>"><li>
                <% if announcement.is_important==true %>
                  <b><span style="color:red">Important: </span> </b>
                <% end %>
                <%= announcement.title%> 
                <div><b>Posted on: </b> <%= announcement.created_at.to_formatted_s(:long) %>   <b>Posted by: </b> <%= announcement.posted_by%> </div></li></a>
            <% end %>
            <% end %> 
            </ul>
          </div>
          <div class="Head purple">
            <h3>Archived Notices</h3>
          </div>
          <div class="noticeCon">
            <ul>
             <% @announcements.each do |announcement| %>
           <% if announcement.is_archived==true %>
           <a href="#"><li><%= announcement.title%><div><b>Posted on: </b> <%= announcement.created_at.to_formatted_s(:long) %>   <b>Posted by: </b> <%= announcement.posted_by%> </div></li></a>
            <% end %>
            <% end %> 
            </ul>
          </div>
        </div>