<div class="mainOut">
  <div class="HeadLeft purple">
    <h2>Anti <span class="thin">Ragging</span></h2>
  </div>
  <div class="noticeCon">
    <ul>
      <li class="top">
      <a href="anti-ragging/SupremeCourtOrder.pdf" title="Anti-Ragging@BITS" target="_blank" style="text-decoration:none; color:#000">Supreme Court's Order</a>
      </li><br>
			<li class="top"><a href="anti-ragging/RaghvanReport.pdf" title="Anti-Ragging@BITS" target="_blank" style="text-decoration:none; color:#000">Raghawan's Report</a></li><br>
			<li class="top"><a href="anti-ragging/BitsOrder.pdf" title="Anti-Ragging@BITS" target="_blank" style="text-decoration:none; color:#000">BITS's Office Order</a></li><br>
			<li class="top"><a href="anti-ragging/UGCRegulation.pdf" title="Anti-Ragging@BITS" style="text-decoration:none; color:#000">UGC Regulations 2009</a></li><br>
			<li class="top"><a href="anti-ragging/Anti_Ragging_Affidavit_Form.pdf" title="Anti-Ragging@BITS" style="text-decoration:none; color:#330000"><b>Anti-Ragging Affidavit Form</b></a></li>
    </ul>
  </div>
</div>