 <div class="mainOut">
 <div class="HeadLeft purple">
    <h2>Contact</span></h2>
</div>     
<div id="notes">
           		<p align="center" style="font-size:16px; font-family:Arial, Helvetica, sans-serif; color:#000066;margin-top:20px;"><b>SWD Telefax</b></p>
		   		<table width="540px" class="tableMain tableLeaveStat" style="margin-top:20px;">
		   			<tbody><tr>
		   				<th id="contact"> Country Code </th> 
						<th id="contact"> STD Code </th> 
						<th id="contact"> Number </th> 
					</tr> 
					<tr align="center">
						<td class="HeadLeft leftTD">91 </td>
						<td class="HeadLeft leftTD">0832</td>
						<td class="HeadLeft leftTD">2580148</td>
					</tr>
				</tbody></table>
				
			 	<p align="center" style="font-size:16px; font-family:Arial, Helvetica, sans-serif; color:#000066;margin-top:20px;"> <b>Faculty and Wardens</b></p>
           		
				<table width="540px" class="tableMain tableLeaveStat" style="margin-top:20px;"> 
		   			<tbody><tr>
		   				<th id="contact"> Name</th>
						<th id="contact"> Function </th>
						<th id="contact"> Email:@goa.bits-pilani.ac.in </th>
						<th id="contact">Chamber No.</th>
						<th id="contact">Tel:(Off.)</th>
					</tr>
				
					<tr align="center">
						<td class="HeadLeft leftTD"> Prof. B.J.C.Babu</td>
						<td class="HeadLeft leftTD">Student Welfare Division</td>
						<td class="HeadLeft leftTD">bjcbabu </td>
						<td class="HeadLeft leftTD">C-210</td>
						<td class="HeadLeft leftTD">2580102</td>
					</tr>
				
					<tr align="center">
						<td class="HeadLeft leftTD">Prof. Dibakar Chakrabarty</td>
						<td class="HeadLeft leftTD">Chief Warden</td>
						<td class="HeadLeft leftTD">dibakarchakrabarty</td>
						<td class="HeadLeft leftTD">B-215</td>
						<td class="HeadLeft leftTD">2580173</td>
					</tr>
				
					<tr align="center">
						<td class="HeadLeft leftTD">Mrs. Smita Acharya</td>
						<td class="HeadLeft leftTD">Senior Office Superintendent</td>
						<td class="HeadLeft leftTD">smitaacharya</td>
						<td class="HeadLeft leftTD">B-216</td>
						<td class="HeadLeft leftTD">2580146</td>
					</tr>
				
					<tr align="center">
						<td class="HeadLeft leftTD">Mr. S.Y.Muralidhara</td>
						<td class="HeadLeft leftTD">Senior Office Superintendent</td>
						<td class="HeadLeft leftTD">symuralidhara</td>
						<td class="HeadLeft leftTD">B-217</td>
						<td class="HeadLeft leftTD">2580147</td>
					</tr>
					
					<tr align="center">
						<td class="HeadLeft leftTD">Mrs. Sonali Malik </td>
						<td class="HeadLeft leftTD">Assistant Hostel Superintendent</td>
						<td class="HeadLeft leftTD">smallik</td>
						<td class="HeadLeft leftTD">CH5-137</td>
						<td class="HeadLeft leftTD">2580623</td>
					</tr>
					
					<tr align="center">
						<td class="HeadLeft leftTD">Mr. Vivek Salaskar</td>
						<td class="HeadLeft leftTD">Assistant Hostel Superintendent</td>
						<td class="HeadLeft leftTD">vivek</td>
						<td class="HeadLeft leftTD">AH4-101</td>
						<td class="HeadLeft leftTD">2580621</td>
					</tr>
					
					<tr align="center">
						<td class="HeadLeft leftTD">Mr. Viren Dhamaskar</td>
						<td class="HeadLeft leftTD">Assistant Hostel Superintendent</td>
						<td class="HeadLeft leftTD">virend</td>
						<td class="HeadLeft leftTD">CH2-139</td>
						<td class="HeadLeft leftTD">2580622</td>
					</tr>
				
					<tr align="center">
						<td class="HeadLeft leftTD">Dr. R.P. Pradhan</td>
						<td class="HeadLeft leftTD">Warden CH-1</td>
						<td class="HeadLeft leftTD">rppradhan</td>
						<td class="HeadLeft leftTD">B-204</td>
						<td class="HeadLeft leftTD">2580314</td>
					</tr>
				
					<tr align="center">
						<td class="HeadLeft leftTD">Mr. Gautam G Bacher</td>
						<td class="HeadLeft leftTD">Warden CH-1</td>
						<td class="HeadLeft leftTD">ggb</td>
						<td class="HeadLeft leftTD">A-426</td>
						<td class="HeadLeft leftTD">2580295</td>
					</tr>
				
					<tr align="center">
						<td class="HeadLeft leftTD">Dr. R.N. Behera</td>
						<td class="HeadLeft leftTD">Warden CH-2</td>
						<td class="HeadLeft leftTD">rbehera</td>
						<td class="HeadLeft leftTD">C-221</td>
						<td class="HeadLeft leftTD">2580331</td>
					</tr>
				
					<tr align="center">
						<td class="HeadLeft leftTD">Dr. Angshuman Sarkar</td>
						<td class="HeadLeft leftTD">Warden CH-3</td>
						<td class="HeadLeft leftTD">asarkar</td>
						<td class="HeadLeft leftTD">B-308</td>
						<td class="HeadLeft leftTD">2580261</td>
					</tr>
					<tr align="center">
						<td class="HeadLeft leftTD">Dr. Meenal Kowshik</td>
						<td class="HeadLeft leftTD">Warden CH-4</td>
						<td class="HeadLeft leftTD">meenal</td>
						<td class="HeadLeft leftTD">C-204</td>
						<td class="HeadLeft leftTD">2580304</td>
					</tr>
				
					<tr align="center">
						<td class="HeadLeft leftTD">Dr. Anasuya Ganguly</td>
						<td class="HeadLeft leftTD">Warden CH-4</td>
						<td class="HeadLeft leftTD">ganguly</td>
						<td class="HeadLeft leftTD">C-202</td>
						<td class="HeadLeft leftTD">2580244</td>
					</tr>
					
					<tr align="center">
						<td class="HeadLeft leftTD">Dr.Vijayashree Nayak</td>
						<td class="HeadLeft leftTD">Warden CH-5</td>
						<td class="HeadLeft leftTD">vijayashree</td>
						<td class="HeadLeft leftTD">B-210</td>
						<td class="HeadLeft leftTD">2580161</td>
					</tr>
				
					<tr align="center">
						<td class="HeadLeft leftTD">Dr. Neena Goveas</td>
						<td class="HeadLeft leftTD">Warden CH-5</td>
						<td class="HeadLeft leftTD">neena</td>
						<td class="HeadLeft leftTD">A-409</td>
						<td class="HeadLeft leftTD">2580403</td>
					</tr>
				
					
				
					<tr align="center">
						<td class="HeadLeft leftTD">Prof. Dibakar Chakrabarty</td>
						<td class="HeadLeft leftTD">Warden CH-6</td>
						<td class="HeadLeft leftTD">dibakarchakrabarty</td>
						<td class="HeadLeft leftTD">B-215</td>
						<td class="HeadLeft leftTD">2580173</td>
					</tr>
				
					<tr align="center">
						<td class="HeadLeft leftTD">Mr. P.V. Rao</td>
						<td class="HeadLeft leftTD">Warden AH-1</td>
						<td class="HeadLeft leftTD">pvenku</td>
						<td class="HeadLeft leftTD">A-301/2</td>
						<td class="HeadLeft leftTD">2580413</td>
					</tr>
				
					<tr align="center">
						<td class="HeadLeft leftTD">Mr. Amalin Prince</td>
						<td class="HeadLeft leftTD">Warden AH-1</td>
						<td class="HeadLeft leftTD">amalinprince</td>
						<td class="HeadLeft leftTD">A-206/2</td>
						<td class="HeadLeft leftTD">2580155</td>
					</tr>
				
					<tr align="center">
						<td class="HeadLeft leftTD">Mr. C. P. Kiran	</td>
						<td class="HeadLeft leftTD">Warden AH-2</td>
						<td class="HeadLeft leftTD">cpkiran</td>
						<td class="HeadLeft leftTD">A-313/7</td>
						<td class="HeadLeft leftTD">2580111</td>
					</tr>
				
					<tr align="center">
						<td class="HeadLeft leftTD">Dr. Ranjan Dey</td>
						<td class="HeadLeft leftTD">Warden AH-2</td>
						<td class="HeadLeft leftTD">ranjandey</td>
						<td class="HeadLeft leftTD">A-301/6</td>
						<td class="HeadLeft leftTD">2580412</td>
					</tr>
				
					<tr align="center">
						<td class="HeadLeft leftTD">Dr. Anil Kumar</td>
						<td class="HeadLeft leftTD">Warden AH-3</td>
						<td class="HeadLeft leftTD">anilpundir</td>
						<td class="HeadLeft leftTD">CC-205</td>
						<td class="HeadLeft leftTD">2580446</td>
					</tr>
				
					<tr align="center">
						<td class="HeadLeft leftTD">Mr. N. Kubendran</td>
						<td class="HeadLeft leftTD">Warden AH-4</td>
						<td class="HeadLeft leftTD">nkubendran</td>
						<td class="HeadLeft leftTD">A-303</td>
						<td class="HeadLeft leftTD">2580223</td>
					</tr>
				
					<tr align="center">
						<td class="HeadLeft leftTD">Dr. P. Dhanumjaya</td>
						<td class="HeadLeft leftTD">Warden AH-4</td>
						<td class="HeadLeft leftTD">danu</td>
						<td class="HeadLeft leftTD">CC-209</td>
						<td class="HeadLeft leftTD">2580144</td>
					</tr>
				
					<tr align="center">
						<td class="HeadLeft leftTD">Dr. T. Singh</td>
						<td class="HeadLeft leftTD">Warden AH-5</td>
						<td class="HeadLeft leftTD">tksingh</td>
						<td class="HeadLeft leftTD">CC-215</td>
						<td class="HeadLeft leftTD">2580435</td>
					</tr>
				
				<tr align="center">
						<td class="HeadLeft leftTD">Mr. Halan Prakash</td>
						<td class="HeadLeft leftTD">Warden AH-5</td>
						<td class="HeadLeft leftTD">halanprakash</td>
						<td class="HeadLeft leftTD">CC-101</td>
						<td class="HeadLeft leftTD">2580344</td>
					</tr>
					
					
				
					<tr align="center">
						<td class="HeadLeft leftTD">Dr. Aswini K. Mishra</td>
						<td class="HeadLeft leftTD">Warden AH-6</td>
						<td class="HeadLeft leftTD">aswini</td>
						<td class="HeadLeft leftTD">B-310</td>
						<td class="HeadLeft leftTD">2580258</td>
					</tr>
				
					<tr align="center">
						<td class="HeadLeft leftTD">Dr. Shibu Clement</td>
						<td class="HeadLeft leftTD">Warden AH-6</td>
						<td class="HeadLeft leftTD">shibu</td>
						<td class="HeadLeft leftTD">A-313/12</td>
						<td class="HeadLeft leftTD">2580298</td>
					</tr>
				
					<tr align="center">
						<td class="HeadLeft leftTD">Dr. Prasanta K. Das</td>
						<td class="HeadLeft leftTD">Warden AH-7</td>
						<td class="HeadLeft leftTD">pdas</td>
						<td class="HeadLeft leftTD">B-314</td>
						<td class="HeadLeft leftTD">2580448</td>
					</tr>
					
				    <tr align="center">
						<td class="HeadLeft leftTD">Dr. V SUNIL KUMAR</td>
						<td class="HeadLeft leftTD">Warden AH-7</td>
						<td class="HeadLeft leftTD">vsunil</td>
						<td class="HeadLeft leftTD">C-215</td>
						<td class="HeadLeft leftTD">2580142</td>
					</tr>
					
					<tr align="center">
						<td class="HeadLeft leftTD">Dr. Saroj S. Baral</td>
						<td class="HeadLeft leftTD">Warden AH-8</td>
						<td class="HeadLeft leftTD">ssbaral</td>
						<td class="HeadLeft leftTD">A-301/5</td>
						<td class="HeadLeft leftTD">2580119</td>
					</tr>
				
					<tr align="center">
						<td class="HeadLeft leftTD">Dr. Anjan Chattopadhyay</td>
						<td class="HeadLeft leftTD">Warden AH-8</td>
						<td class="HeadLeft leftTD">anjan</td>
						<td class="HeadLeft leftTD">C-219</td>
						<td class="HeadLeft leftTD">2580319</td>
					</tr>
					
				</tbody></table><br>
			
	
	<p align="center" style="font-size:16px; font-family:Arial, Helvetica, sans-serif; color:#000066;margin-top:20px;"><b>Nucleus Members</b></p>
	   <table width="540px" align="center" class="tableMain tableLeaveStat" style="margin-top:20px;"> 
		   <tbody><tr align="center">
		   		<th id="contact"> Name</th>
				<th id="contact"> Email:@goa.bits-pilani.ac.in </th>
				<th id="contact">Chamber No.</th>
				<th id="contact">Tel:(Off.)</th>
			</tr>
				
			<tr align="center">
				<td class="HeadLeft leftTD">Ms.Lucy J. Gudino</td>
				<td class="HeadLeft leftTD">lucy</td>
				<td class="HeadLeft leftTD">A-406</td>
				<td class="HeadLeft leftTD">2580425</td>
			</tr>
				
			
				
			<tr align="center">
				<td class="HeadLeft leftTD">A. Amaline Prince</td>
				<td class="HeadLeft leftTD">amalinprince</td>
				<td class="HeadLeft leftTD">A-206/2</td>
				<td class="HeadLeft leftTD">2580155</td>
			</tr>
				
			<tr align="center">
				<td class="HeadLeft leftTD">Dr. M. Srikant</td>
				<td class="HeadLeft leftTD">srikanth</td>
				<td class="HeadLeft leftTD">C-201</td>
				<td class="HeadLeft leftTD">2580125</td>
			</tr>
				
			
			
			<tr align="center">
				<td class="HeadLeft leftTD">Mr.Gawas Mahadev</td>
				<td class="HeadLeft leftTD">mahadev</td>
				<td class="HeadLeft leftTD">B-316</td>
				<td class="HeadLeft leftTD">2580330</td>
			</tr>			
		</tbody></table>
				

				
  <p align="center" style="font-size:16px; font-family:Arial, Helvetica, sans-serif; color:#000066; margin-top:20px;"><b>Staff Members</b></p>
	   <table width="540px" class="tableMain tableLeaveStat" style="margin-top:20px;"> 
		   <tbody><tr align="center">
		   		<th id="contact"> Name</th>
				<th id="contact"> Email:@goa.bits-pilani.ac.in </th>
				<th id="contact">Office No.</th>
				<th id="contact">Tel:(Off.)</th>
			</tr>
			
			<tr align="center">	
				<td class="HeadLeft leftTD">Ms.Namrata Sawant</td>
				<td class="HeadLeft leftTD">swd</td>
				<td class="HeadLeft leftTD">B-102</td>
				<td class="HeadLeft leftTD">2580148</td>
			</tr>
				
			<tr align="center">
				<td class="HeadLeft leftTD">Ms.Kalpita Naik</td>
				<td class="HeadLeft leftTD">swd</td>
				<td class="HeadLeft leftTD">B-102</td>
				<td class="HeadLeft leftTD">2580148</td>
			</tr>
				
			<tr align="center">
				<td class="HeadLeft leftTD">Ms.Sonali Naik</td>
				<td class="HeadLeft leftTD">swd</td>
				<td class="HeadLeft leftTD">B-102</td>
				<td class="HeadLeft leftTD">2580157</td>
			</tr>			
				
			<tr align="center">
				<td class="HeadLeft leftTD">Ms.Sunita Prabhudesai</td>
				<td class="HeadLeft leftTD">swd</td>
				<td class="HeadLeft leftTD">B-102</td>
				<td class="HeadLeft leftTD">2580157</td>
			</tr>						
		</tbody></table>
				<br>
				
            </div>
        </div>