        <div class="mainOut">
          <div class="HeadLeft purple">
            <h2>Migration <span class="thin">Instructions</span></h2>
          </div>
          <div class="Head grey">
            <h3>Only Graduated Students can Apply</h3>
          </div>
          <div class="noticeCon">
            <ul>
              <li class="details">Fill the details on the form.</li><br>
				<li class="details">Print the form, verify it, and sign the same.</li><br>
				<li class="details">Post the form, along with a crossed Demand Draft of Rs 300/-, favoring BITS – Pilani Goa Campus to the following postal address,</li>
            </ul>
          </div>
          
          
          <div id="notes">
			<p>
			Migration Certificate Request<br>
			<strong>---------------&nbsp; ----------------&nbsp; ----------------</strong><br>
			Student Welfare Division<br>
			BITS, Pilani – K. K. Birla Goa Campus<br>
			Goa Campus, Zuarinagar - 403726
			</p>
			<br><br>
            
            <div class="butCon">
              <a class="rightBut grey" href="mig1.php"> FORM</a>
            </div>
          </div>
        </div>