 <div class="mainOut">
          <div class="HeadLeft purple">
            <h2>SAC <span class="thin">- Student Activity Centre</span></h2>
          </div>
          <div class="Head">
            <img width="32%" src="http://swd.bits-goa.ac.in/css/images/sac1.png">
            <img width="32%" src="http://swd.bits-goa.ac.in/css/images/sac2.png">
            <img width="32%" src="http://swd.bits-goa.ac.in/css/images/sac3.png">
          </div>
          <p>            Student Activity Center(SAC) is well equipped with indoor sport facilities and outdoor game facilities.
          </p>
          <br>
          <p>SAC also is a prominent venue for events, religious and the cultural festivals as well as student organized competions and games. SAC also hosts several establishments belonging to student- run clubs and organizations.
          </p>
          <br><br>
          <div class="Head grey">
            <h3>SAC Timings</h3>
          </div>
          <div class="noticeCon">
            <ul>
              <li>Monday - Saturday : </li>
              <li>5.30 a.m. to 8.30 a.m. &amp 5.30 p.m. to 9.30 p.m.</li>
              <li>Sundays And Holidays :</li>
              <li>5.30 a.m. to 9.30 p.m.</li>
            </ul>
          </div>
          
        </div>