<div class="mainOut">
  <div class="HeadLeft grey">
    <h3>Student <span class="thin"> Search</span></h3>
  </div>       
  <form method="post" action="searchresult" accept-charset="UTF-8">
    <table class="tableMain tableDetails">
     <input name="authenticity_token" type="hidden" value=<%= form_authenticity_token %>>
  <tr>
    <td class="leftTD HeadLeft">Name</td>
    <td class="rightTD HeadLeft ">
      <input type="text" name="search[name]">
    </td>
  </tr>
  <tr>
    <td class="leftTD HeadLeft">ID No.</td>
    <td class="rightTD HeadLeft ">
      <input type="text" name="search[college_id]">
    </td>
    </tr>
    <tr>
    <td class="leftTD HeadLeft">Hostel</td>
    <td class="rightTD HeadLeft ">
      <select name="search[hostel]">
        <option value="">ANY</option>
        <option value="AH1">AH1</option>
        <option value="AH2">AH2</option>
        <option value="AH3">AH3</option>
        <option value="AH4">AH4</option>
        <option value="AH5">AH5</option>
        <option value="AH6">AH6</option>
        <option value="AH7">AH7</option>
        <option value="AH8">AH8</option>
        <option value="CH1">CH1</option>
        <option value="CH2">CH2</option>
        <option value="CH3">CH3</option>
        <option value="CH4">CH4</option>
        <option value="CH5">CH5</option>
        <option value="CH6">CH6</option>
      </select>
    </td>
  </tr>
  <tr>
    <td class="leftTD HeadLeft">Room No.</td>
    <td class="rightTD HeadLeft ">
      <input type="text" name="search[room]">
    </td>
  </tr>
  <tr>
    <td class="leftTD HeadLeft">Branch</td>
    <td class="rightTD HeadLeft ">
      <select class="branchSel" name="search[branch]">
        <option value="">ANY</option>
        <option value="C6">Information Systems</option>
        <option value="A1">Chemical</option>
        <option value="A7">Computer Science</option>
        <option value="A4">Mechanical</option>
        <option value="A8">EEE</option>
        <option value="A3">ENI</option>
        <option value="B1">MSc Bio</option>
        <option value="B2">MSc Chemistry</option>
        <option value="B3">MSc Economics</option>
        <option value="B4">MSc Physics</option>
        <option value="B5">MSc Maths</option>
        <option value="H">Higher Degree</option>
      </select>
    </td>
  </tr>
</table>  
<div class="butCon">
  <input type="submit" value="SUBMIT" class="rightBut grey">
</div> 
</form>       
</div>