<div class="mainOut">
  <div class="HeadLeft grey">
    <h3>Search <span class="thin">Result</span>
      </h3>
  </div> <br>
  <h3><a style=" float:right"class="rightBut grey" href="/search">Go Back</a></h3>  
  <table class="tableMain tableLeaveStat">
    <tr>
      <th class="leftTD HeadLeft">Student Id</th>
      <th class="secCol">Name</th>
      <th class="thiCol">Hostel No</th>
      <th class="rightTD HeadLeft ">Room No</th>
    <tr>
    <% @results.each do |result| %>
    <tr>
        <td class="leftTD HeadLeft"><%= result.college_id %></td>
        <td class="secCol HeadLeft"><%= result.name %></td>
        <td class="thiCol HeadLeft"><%= result.hostel %></td>
        <% if result.hostel=="graduate"%>
        <td class="rightTD HeadLeft ">NA</td>
        <% else %>
        <td class="rightTD HeadLeft "><%= result.room %></td>
        <% end %>    
    </tr>
    <% end %>
  </table> 


</div>
