<div class="mainOut">
     	<h3><%= @notice.title %></h3>
          <h6 class="thin notiDate"><%= @notice.created_at.to_formatted_s(:long) %></h6>
          <div class="notiText">
         <%=raw @notice.body %>
          </div>
        </div>