<div class="mainOut">
          <div class="HeadLeft purple">
            <h2>SWD <span class="thin">Services</span></h2>
          </div>
          <div class="Head grey">
            <h3>Hostel Facilities</h3>
          </div>
          <div class="noticeCon">
            <ul>
              <li><b>1.</b> No of Hostels:14</li>
              <li><b>2.</b> Single Occupancy Rooms furnished with Cot,Study Table,Chair,Wadrobe and Network Connection.</li>
              <li><b>3.</b> Continuous water and Electricity supply, Shared Bathrooms/Toilets (On an average 1 Bathroom/Toilet shared by 4 students)</li>
              <li><b>4.</b> 24-hour Security guard at Hostel Gate</li>
              <li><b>5.</b> Common Room with TV, indoor sports like table tennis and carrom: Badminton Court.</li>
            </ul>
          </div>
          
          <div class="Head grey">
            <h3>Mess Facilities</h3>
          </div>
          <div class="noticeCon">
            <ul>
              <li><b>1. </b> There are 2 Dinning Halls (A and C) each of capacity 1200. </li>
              <li><b>2. </b>Current Caterers:<br>
    A Dinning Hall : Aditya cateres<br>
    C Dinning Hall : Hotel Catering Management Services</br>
    Mess Rate : which includes four meals (Breakfast, Lunch, Snacks, Dinner)
</li>
            </ul>
          </div>
          
          <div class="Head grey">
            <h3>Financial Aid</h3>
          </div>
          <div class="noticeCon">
            <ul>
              <li> <b>1. Institute Merit and Merit Cum Need Scholarship </b><br>
    (a). Full tution waiver awarded to the top 10 meritorious 1st degree students of each batch.<br>
    (b). 50% and 25% tution waiver awarded to meritorious students whose parental income is less than Rs. 3.00 Lakhs.<br>
    (c). Granted each semester<br>
    (d). On an average 25% of the students are awarded Institute Scholarship.
</li>
              <li><b>2. </b>SWD forwards other Central/State/Private scholarship applications and disburses scholarships recieved to the students</li>
            </ul>
          </div>
          
          <div class="Head grey">
            <h3>Online Services </h3>
            <h4 style="color:red">Please login to avail these facilities</h4>
          </div>
          <div class="noticeCon">
            <ul>
              <li><b>1. </b>Mess selection facility every month.</li>
              <li><b>2. </b>Apply for issue of certificate. </li>
              <li><b>3. </b>Leave application submission </li>
              <li><b>4. </b>Apply for Institute MCN Scholorship.</li>
            </ul>
          </div>
          
        </div>