<div style="float:right">
  <h6>Entries <%if @count==0 %>0 <%else %><%= (@page*8)+1%><% end %> to <% if((@page+1)*8 > @count)%> <%= @count %> <% else %><%= (@page+1)*8 %><% end %> of total <%= @count %></h6>
</div>