<div class="pagination">
  <ul>
  <% if (@page>0) %>
    <li> <%= link_to "Prev",{:controller =>controller_name, :action=>action_name,  :query =>(@page-1)} %></li>
  <% else %>
    <li class="disabled"> <%= link_to "Prev",{:controller =>controller_name, :action=>action_name, :query =>0} %></li>
  <% end %>
  <% totalpages = @count/8 %>
  <% (0..totalpages).each do |i| %>
    <% if(i==@page) %>
      <li class="active"> <%= link_to "#{i+1}",{:controller =>controller_name, :action=>action_name, :query =>i} %></li>
    <% else %>
      <li> <%= link_to "#{i+1}",{:controller =>controller_name, :action=>action_name, :query =>i} %></li>
    <% end %>
  <% end %>
  <% if(@page == totalpages)%>
    <li class="disabled"><a href="#">Next</a></li>
  <% else %>
    <li> <%= link_to "Next",{:controller =>controller_name, :action=>action_name,  :query =>(@page+1)} %></li>
    <%end%>
  </ul>
</div>