<div class="page-header">
  <h1>Approved Bonafides<span style="float:right">
  <%= link_to "Back",{:controller => :bonafides, 
              :action=>:bonafidemanager} ,
              :class=> 'btn btn-large
               btn-invert'
                %></span></h1>
</div>
<div class="btn-group">
  <a class="btn" href="/bonafides/pending"> Pending</a>
  <a class="btn btn-inverse" href="/bonafides/approved"> Approved</a>
  <a class="btn" href="/bonafides/disapproved">Disapproved</a>
</div>

<%= render :partial => 'entries' %>

<% if @bonafides.blank? %>
<h3>There is no Approved Bonafide Certificate</h3>
<% else %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Bonafide Id</th>
      <th>Student Id</th>
      <th>Student Name</th>
      <th>Reason</th>
      <th>Approved By</th>
      <th>Date</th>
      <th>Print</th>
    </tr>
  </thead>
   <tbody>
   	<% @bonafides.each do |list| %>
      	<tr>
        	<td><%= list.id %></td>
        	<td><%= Bonafide.find(list.id).student.college_id%></td>
        	<td><%= Bonafide.find(list.id).student.name%></td>
        	<td><%= list.reason %></td>
        	<td><%= User.find(list.approved_by).username %></td>
        	<td><%= list.created_at.to_s[0,10] %></td>
          <% if list.print.nil? || list.print==false%>
            <td> Pending</td>
          <% else %>
        	 <td>Done</td>
          <% end %>

        	<td>
        		<%= link_to "Disapprove",{:controller => :bonafides, 
        			:action=>:disapprove,  :query =>list.id} ,
        			:class=> 'btn btn-mini btn-danger' %>
       		</td>
       	</tr>
    <% end %>
  </tbody>
</table>
<% end %> 
<%= render :partial => 'pagination' %>