<div class="page-header">
  <h1>Bonafide Manager</h1>
</div>
<div class="span5"  >

<%= link_to "Pending Bonafides (#{@bonafides.count} new)",{:controller => :bonafides, 
        			:action=>:pending} ,
        			:class=> 'btn btn-large btn-block' %><br><br>
<%= link_to "Approved Bonafides",{:controller => :bonafides, 
        			:action=>:approved} ,
        			:class=> 'btn btn-large btn-block '%><br><br>
<%= link_to "Disapproved Bonafides",{:controller => :bonafides, 
        			:action=>:disapproved} ,
        			:class=> 'btn btn-large btn-block '%><br><br>
 </div>
</div>