<div class="mainOut">
          <div class="HeadLeft grey">
            <h3>
              Student <span class="thin"> Details</span>
            </h3>
          </div>
          <table class="tableMain">
            <tr>
              <td class="leftTD HeadLeft">Name</td>
              <td class="rightTD HeadLeft "><%= @profile.name %></td>
            </tr>
            <tr>
              <td class="leftTD HeadLeft">Student ID</td>
              <td class="rightTD HeadLeft "><%= @profile.college_id %></td>
            </tr>
            <tr>
              <td class="leftTD HeadLeft">Hostel</td>
              <td class="rightTD HeadLeft "><%= @profile.hostel %></td>
            </tr>
            <tr>
              <td class="leftTD HeadLeft">Room No.</td>
              <td class="rightTD HeadLeft "><%= @profile.room %></td>
            </tr>
          </table>
          
          <div class="HeadLeft grey">
            <h3>
              Bonafide <span class="thin"> Form Details</span>
            </h3>
          </div>
          
          <table class="tableMain tableDetails">
            <tr>
              <td class="leftTD HeadLeft">Reason</td>
              <td class="rightTD HeadLeft ">
                <form method="post" action="/bonafides/create" accept-charset="UTF-8">
              <input name="authenticity_token" type="hidden" value=<%= form_authenticity_token %>>
                <select id="reason">
                  <option value="none">NULL</option>
                  <option value="Loan">Bank Loan</option>
                  <option value="Passport">Passport</option>
                  <option value="Scholorship">Scholarship</option>
                  <option value="Sim card">Sim Card</option>
                </select>
              </td>
            </tr>
            <tr>
              <td class="leftTD HeadLeft">Other Reason</td>
              <td class="rightTD HeadLeft "><input id="otherreason" name="bonafide[reason]"</td>
            </tr>
            <tr>
              <td class="leftTD HeadLeft">Year</td>
              <td class="rightTD HeadLeft ">
                <select name="bonafide[year]">
                  <option value="first">First</option>
                  <option value="second">Second</option>
                  <option value="third">Third</option>
                  <option value="forth">Fourth</option>
                  <option value="fifth">Fifth</option>
                </select>
              </td>
            </tr>
          </table>  
          
          <div class="butCon">
            <input type="Submit" class="rightBut grey" value="SUBMIT">
          </div> 
      <div class="butCon">
       <a class="rightBut grey" href="/bonafides">Go Back</a>     
    </div>        
        </div>

<% content_for :bottom do %>
  <script type="text/javascript">
    $('#reason').click(function() {
      if($('#reason').val()!="none"){
          $('#otherreason').removeAttr('name');
          $('#reason').attr('name','bonafide[reason]')
          $('#otherreason').hide();
        }
      else
      { 
          $('#otherreason').attr('name','bonafide[reason]')
          $('#otherreason').show();
        }
    });
  </script>
<% end %>