<div class="mainOut">
          <div class="HeadLeft grey">
            <h3>Bonafide <span class="thin">Certificate</span></h3>
          </div>
          <div class="leaveButCon">
            
            <a href="/bonafides/form">
              <div class="radioButCon">
                <h3>
                  Bonafide <span class="thin">Application Form</span>
                </h3>
              </div>
            </a>
            <a href="/bonafides/status">
              <div class="radioButCon">
                <h3>
                  Status <span class="thin">Review</span>
                </h3>
              </div>
            </a>
          </div>
        </div>