 <div class="mainOut">
          <div class="HeadLeft grey">
            <h3>Bonafide <span class="thin">Status</span></h3>
          </div>
        
          <table class="tableMain tableLeaveStat">
            <tr>
              <th class="leftTD HeadLeft">Bonafide ID</th>
              <th class="secCol">Reason</th>
              <th class="thiCol">Year</th>
              <th class="thiCol">Date</th>
              <th class="rightTD HeadLeft ">Status</th>
            </tr>
            <% @bonafides.each do |bonafide| %>
            <tr>
              <td class="leftTD HeadLeft"><%= bonafide.id %></td>
              <td class="secCol HeadLeft"><%= bonafide.reason %></td>
              <td class="thiCol HeadLeft"><%= bonafide.year %></td>
              <td class="thiCol HeadLeft"><%= bonafide.created_at.to_s[0,10] %></td>
              <% if (bonafide.approved==true) %>
                <td class="rightTD HeadLeft ">Approved</td>
              <% elsif (bonafide.approved==false) %>
                <td class="rightTD HeadLeft ">Disapproved</td>
              <% else %>
                <td class="rightTD HeadLeft ">Pending</td>
              <% end %>
            </tr>
            <% end %>
          </table> 
    <div class="butCon">
       <a class="rightBut grey" href="/bonafides">Go Back</a>     
    </div>          
        </div>