<%= simple_form_for @check, :html => { :class => 'form-horizontal' } do |f| %>
<%= f.input :post %>
<%= f.input :title %>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                checks_path, :class => 'btn' %>
  </div>
<% end %>
