<!DOCTYPE html>
<html>
<head>
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js">
</script>
  <%= stylesheet_link_tag "general", :media => "all" %>
  <%= javascript_include_tag "general" %>
  <%= csrf_meta_tags %>
</head>
<title>
</title>
<body>
  
<div class="header">
  <img style="clear:both; float:right;" src="http://dinasource.com/swd/images/contentBg.gif"/>
  <div class="wrapper">
      <a style="float:left; margin-top:10px;" href="http:\\www.bits-goa.ac.in">
      <img src="http://dinasource.com/swd/images/BITS_Goa_campus_logo.gif" /></a>
      <p id="pgTitle">Student Welfware Division</p>
    </div>
    <div id="navwrapper">
      <div>
      <ul>
        <% if defined?(current_user.role) %>
          <% Navigation.find_all_by_role(current_user.role).sort_by{|u| u.position}.each do |navigate| %>
          <a href=<%= navigate.link %>> <li><%= navigate.label%></li></a>
          <% end %>
        <% else %>
        <% Navigation.find_all_by_role("general").sort_by{|u| u.position}.each do |navigate| %>
          <a href=<%= navigate.link %>> <li><%= navigate.label%></li></a>
          <% end %>
          <% end %>
        </ul>
    </div>
  </div>
  <!--Header end-->
</div>

<div class="content">
  <div id="banner"><img src="http://qph.is.quoracdn.net/main-qimg-b4ee6903d33c2d6852d7ca304c63caf7" width="1000px"></div>
  <div id="news">
    <div id="newsCon">
      <div id="newsHead">
        <h3>News :</h3>
      </div>
      <div id="newsParaCon">
        <p>oLorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut dui ac libero hendrerit tempor tempor sit amebulum ven.</p>
      </div>
    </div>
  </div>
  <!--News ends-->
  
  <div class="wrapper">
      <div id="wrapLeft">
        <% if user_signed_in? %>
          <% if( notice.blank? ==false)%>
            <p class="notice HeadLeft"><%= notice %></p>
          <%end%>
        <%end%>

            <%= yield %>
        
      </div>
       <!-- LoggedInCon begin-->
      <div id="wrapRight">
        <% if user_signed_in? %>
        <div class="logggedInCon">
          <div class="Head grey">
            <h3>Hello <span class="thin">
              <%if( current_user.role =="student")%>
                <%=Student.find_by_student_id(current_user.username).name %>
              <%end %>
            </span></h3>
          </div>
          <div id="profImgCon">
            <img src="http://swd.bits-goa.ac.in/css/studentImg/2010C6PS645.jpg" width="145">
          </div>
          <div class="butCon">
    <%=link_to "Sign Out", users_sign_out_path, :method => :delete, :class => "rightBut grey" %>
          </div>
        </div>
        <!-- LoggedInCon ends-->
        <% else %>
        <!-- Login Con begin-->
        <div class="loginCon">
          <div class="Head grey">  

            <h3>Login</h3>
          </div>
          <h4>Enter Login Details:</h4>
          <% if( notice.blank? ==false)%>
          <p class="notice1 HeadLeft"><%= notice %></p>
          <% end %>
          <div id="logLeft">
            <ul>
              <li class="logLeftIn">Username:</li>
              <li class="logLeftIn">Password:</li>
            </ul>
          </div>
          <div id="logRight">
            <form accept-charset="UTF-8" action="/users/sign_in" class="new_user" id="new_user" method="post">
            <div class="logRightIn">
              <input id="user_email"  name="user[username]" size="30" type="text" value="">
            </div>
            <div class="logRightIn">
              <input id="user_password" name="user[password]" size="30" type="password">
            </div>
          </div>
          <div class="butCon">
            <input type="submit" value="LOGIN" class="rightBut grey">
          </div>
        </div>
      </form>
        <!-- Login Con ends-->
        <% end %>
      </div>
    </div>
</div>

<div class="footer">
  <img style="clear:both; float:left;" src="http://dinasource.com/swd/images/contentBg.gif"/>
  <div class="wrapper">
    <div class="footertext">
      <p> Dinasource.com &copy; 2012</p>
      <p><a href="http:\\bits-goa.ac.in">BITS Pilani K.K. Birla Goa Campus</a></p>
      <p><a href="http:\\dinasource.com">Designed &amp; Developed by Dinasource</a></p>
    </div>
      <img style=" float:right; margin: 10px 0 0 0 " src="http://dinasource.com/swd/images/companyBranding.gif" height="75px";/>
  </div>
  
</div>

</body>
<%= yield :bottom %>

</html>